body,html {
    font-family: 'Love Ya Like A Sister', cursive;
    background-image: url("../images/Earl.png");    
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    font-size: 70px;
}
h1 {
    color: rgb(54, 23, 23);
    text-align: center;  
    background-color:transparent !important;
    font-size: 110px;
    padding: 10px;
}
.lead {
    color: black;
    text-align: center;  
    font-size: 50px;
    padding-top: 10px;
}
img {
    height: 200px;
    width: 200px;
}
.img-thumbnail {
    border: 4px solid  rgb(87, 49, 49);
}
.space {
    height: 10px;
}
#Score {
    background-color: white;
    border: rgb(87, 49, 49) 2px solid;
    text-align: center;
}
#Wins, #Losses { 
    background-color: white;
    border: rgb(87, 49, 49) 2px solid;
    text-align: center;
}
#random-number-box {
    background-color: white;
    text-align: center;
}
#space {
    height:20px;
}

