body,html {
    font-family: 'Love Ya Like A Sister', cursive;
    background-image: url("https://www.clker.com/cliparts/I/8/Q/I/9/3/farm-background.svg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    font-size: 70px;
}
h1 {
    color: rgb(87, 49, 49);
    text-align: center;  
    background-color:transparent !important;
    font-size: 120px;
    margin-bottom: 30px;
    padding-bottom: 20px;
}
.lead {
    color: black;
    text-align: center;  
    font-size: 50px;
    padding-top: 10px;
}
img {
    height: 200px;
    width: 200px;

}
.img-thumbnail {
    border: 8px solid  rgb(87, 49, 49);
}
.space {
    height: 10px;
}
#Score {
    background-color: white;
    border: rgb(87, 49, 49) 2px solid;
    text-align: center;
}
#Wins, #Losses { 
    background-color: white;
    border: rgb(87, 49, 49) 2px solid;
    text-align: center;
}
#random-number-box {
    background-color: white;
    text-align: center;
}
#space {
    height:20px;
}

