body,html {
    font-family: 'Love Ya Like A Sister', cursive;
    background-image: url("http://www.clker.com/cliparts/I/8/Q/I/9/3/farm-background.svg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 25px;
}
.jumbotron {
    color: rgb(87, 49, 49);
    text-align: center;  
    background-color:transparent !important 
}
h1 {
    font-size: 100px;
}
img {
    height: 250px;
    width: 250px;

}
.img-thumbnail {
    border: 4px solid lightgrey;
}
#Score {
    background-color: white;
    border: lightgray 2px solid;
    text-align: center;
}
#Wins, #Losses { 
    background-color: white;
    border: lightgray 2px solid;
    text-align: center;
 
}
#random-number-box {
    background-color: white;
    border: lightgray 2px solid;
    text-align: center;
}
#space {
    height:20px;
}